@import './font/stylesheet.css';
@import './Colors.scss' ;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: $grey;
  color: $khaki;
  font-family: 'bartenderserif_letterpress', sans-serif;
  border: 5px solid $khaki;
  height: 100vh;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.inning-details{
  display: grid;
  height: 99vh;
  grid-template-rows: 20% 15% 20% 15% 1fr;
  border-right: 5px solid $khaki;
}

.score-field{
  display: grid;
  grid-template-rows: 20% 1fr;
}
