@import '../Colors.scss';

button{
  height: 3rem;
  width: 10rem;
  // width: 100%;
  background-color: $red;
  border: none;
  color: $khaki;
  font-size: 3rem;
  line-height: 0px;
  font-family: 'bartendersans', sans-serif;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    
    button{
      height: 100%;
      width: 100%;
      background-color: $red;
      color: $khaki;
      font-size: calc(1rem + 7vh);
      border: none;
      font-family: 'bartendersans', sans-serif;
      -webkit-tap-highlight-color: transparent;
    }
}