@import '../Colors.scss';

.outs-runs{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h3{
  font-size: 3rem;
  color: $khaki;
  font-weight: normal;
  margin: 0 .75rem .25rem;;
}

.out-dot{
  height: .75rem;
  width: .75rem;
  border-radius: 10px;
  background-color: $khaki;
}

.marker{
  background-color: $red;
}

@media only screen 
    and (device-width : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .outs-runs{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .number-of{
      font-size: 5rem;
      line-height: 3rem;
    }

    h3{
      font-size: 3.25rem;
      line-height: 1rem;
    }
}


@media screen and (min-width : 1920px){
  h3{
    font-size: 5rem;
  }

  .out-dot{
    height: 1rem;
    width: 1rem;
    border-radius: 10rem;
  }
}