@import '../../Colors.scss';

.dice{
  height: 5rem;
  width: 5rem;
  background-color: $khaki;
  display: flex;
  justify-content: center;
  align-items: center;


  // DICE ONE //

  .one{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;

    .dot-one{
      grid-column: 2;
      grid-row: 2;
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }
  } 


  // DICE TWO //

  .two{
    // height: 4.5rem;
    // width: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    
    .dot-one,
    .dot-two{
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }

    .dot-one{
      grid-column: 1;
      grid-row: 1;
    }

    .dot-two{
      grid-column: 3;
      grid-row: 3;
    }
  } 


  // DICE THREE //

  .three{
    height: 4.5rem;
    width: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    
    .dot-one,
    .dot-two,
    .dot-three{
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }

    .dot-one{
      grid-column: 1;
      grid-row: 1;
    }

    .dot-two{
      grid-column: 2;
      grid-row: 2;
    }

    .dot-three{
      grid-column: 3;
      grid-row: 3;
    }
  }


  // DICE FOUR //
  
  .four{
    height: 4.5rem;
    width: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    
    .dot-one,
    .dot-two,
    .dot-three,
    .dot-four{
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }

    .dot-one{
      grid-column: 1;
      grid-row: 1;
    }

    .dot-two{
      grid-column: 1;
      grid-row: 3;
    }

    .dot-three{
      grid-column: 3;
      grid-row: 1;
    }

    .dot-four{
      grid-column: 3;
      grid-row: 3;
    }
  }


  // DICE FIVE //

  .five{
    height: 4.5rem;
    width: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    
    .dot-one,
    .dot-two,
    .dot-three,
    .dot-four,
    .dot-five{
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }

    .dot-one{
      grid-column: 1;
      grid-row: 1;
    }

    .dot-two{
      grid-column: 1;
      grid-row: 3;
    }

    .dot-three{
      grid-column: 2;
      grid-row: 2;
    }

    .dot-four{
      grid-column: 3;
      grid-row: 1;
    }

    .dot-five{
      grid-column: 3;
      grid-row: 3;
    }
  }


  // DICE SIX //

  .six{
    height: 4.5rem;
    width: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    
    .dot-one,
    .dot-two,
    .dot-three,
    .dot-four,
    .dot-five,
    .dot-six{
      height: 1rem;
      width: 1rem;
      border-radius: 10rem;
      background-color: $red;
    }

    .dot-one{
      grid-column: 1;
      grid-row: 1;
    }

    .dot-two{
      grid-column: 1;
      grid-row: 2;
    }

    .dot-three{
      grid-column: 1;
      grid-row: 3;
    }

    .dot-four{
      grid-column: 3;
      grid-row: 1;
    }

    .dot-five{
      grid-column: 3;
      grid-row: 2;
    }

    .dot-six{
      grid-column: 3;
      grid-row: 3;
    }
  }
}