@import "../Colors.scss";

.modal-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.75);
  color: $khaki;
  z-index: 100;

  .modal-body{
    height: 50%;
    width: 50%;
    background-color: $grey;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    overflow-y: scroll;
    font-family: 'bartendersans', sans-serif;

    img{
      height: 25%;
    }

    p{
      margin: 2rem 0;
      font-size: 3rem;
      font-weight: normal;
      text-transform: lowercase;
      text-align: center;
      line-height: 1.75rem;
    }

    button{
      background-color: $red;
      margin-bottom: 2rem;
      line-height: inherit;
    }
  }
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (orientation: portrait)
    and (-webkit-device-pixel-ratio : 3) { 

      .modal-container{
        box-sizing: border-box;
        // position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.75);
        color: $khaki;
        z-index: 100;

        .modal-body{
          height: 100%;
          width: 100%;
          background-color: $grey;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
          padding: 2rem;
          overflow-y: scroll;
          font-family: 'bartendersans', sans-serif;

          img{
            height: 25%;
          }

          p{
            // margin: 2rem 0;
            font-size: 2.5rem;
            font-weight: normal;
            text-transform: lowercase;
            text-align: center;
            line-height: 1.5rem;
            font-family: 'bartendersans', sans-serif;
          }

          button{
            height: 3rem;
            width: 12rem;
            background-color: $red;
            line-height: 1rem;
            font-size: 3rem;
            padding: 0;
          }
        }
      }
}
