@import '../../Colors.scss';

.outs{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-right: 5px solid $khaki;
  padding-top: 1rem;

  .number-of-outs{
    font-size: 10rem;
    line-height: 4.5rem;
  }

  h3{
    font-size: 3rem;
    color: $red;
    font-weight: normal;
  }
}