@import '../Colors.scss';


.play{
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1{
    font-weight: normal;
    font-size: 3rem;
    line-height: 2rem;
    text-transform: lowercase;
    text-align: center;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    
    .play{
      border: none;
      
      h1{
        font-size: 3.25rem;
        text-transform: lowercase;
        line-height: 1.5rem;
        text-align: center;
        border: none;
      }
    }
}