@import '../Colors.scss';

.outs-runs{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.number-of{
  font-size: 5rem;
  line-height: 3rem;
}

h3{
  color: $red;
  font-size: 2.5rem;
  line-height: 1rem;
}

@media only screen 
    and (device-width : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .outs-runs{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .number-of{
      font-size: 5rem;
      line-height: 3rem;
    }

    h3{
      color: $red;
      font-size: 2.5rem;
      line-height: 1rem;
    }
}