@import '../Colors.scss';

.field{
  // position: absolute;
  // min-width: 10%;
  width: 50%;
  border: 10px solid $khaki;
  transform: rotate(45deg);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeate(5, 1fr);
  // z-index: 0;

  .first-base,
  .second-base,
  .third-base{
    height: 100%;
    width: 100%;
    background-color: $khaki;
  }

  .first-base{
    grid-row: 1;
    grid-column: 5;
    margin-top: -1px;
    margin-left: 1px;
  }

  .first-base-runner{
    grid-row: 1;
    grid-column: 5;
    margin-top: 0px;
    margin-left: 1px;
    background-color: $red;
  }

  .second-base{
    grid-row: 1;
    grid-column: 1;
    margin-top: -1px;
    margin-left: -1px;
  }

  .third-base{
    grid-row: 5;
    grid-column: 1;
    margin-top: 1px;
    margin-left: -1px;
  }

  .runner{
    background-color: $red;
    margin: 0;
  }
}

.field:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media screen and (min-width: 1920px){
 .field{
   width: 45%;
 }
}