@import '../Colors.scss';

.roll{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .die{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .dice:first-child{
    margin-right: 1rem;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .roll{
      display: flex;
      justify-content: center;
      align-items: center;
      
      .die{
        margin-bottom: 0;
      }
      
      .dice:first-child{
        margin-right: 1rem;
      }
    }
}