*{
  margin: 0;
  padding: 0;
}

.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.baseball-diamond{
  display: grid;
  background-color: green;
  width: 150px;
  height: 150px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.home,
.first,
.second,
.third{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1rem;
}

.home{
  grid-row: 3;
  grid-column: 2;
}

.first{
  grid-row: 2;
  grid-column: 3;
}

.second{
  grid-row: 1;
  grid-column: 2;
}

.third{
  grid-row: 2;
  grid-column: 1;
}
