@import './fonts/stylesheet.css';
@import './Colors.scss';


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

      *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      
      body{
        background-color: $grey;
        color: $khaki;
        font-family: 'bartenderserif_letterpress', sans-serif;
      }

      // .container{
      //   display: grid;
      //   height: 99vh;
      //   border: 5px solid $khaki;
      //   grid-template-rows: 15% 55% 20% 1fr;
      //   grid-template-columns: 1fr;

        .playing-board{
          grid-row: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 5px solid $khaki;
          display: grid;
          grid-template-rows: 25% 50% 25%;
          grid-template-columns: 25% 50% 25%;

          .inning,
          .outs,
          .runs{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
          }

          .outs{
            grid-row: 3;
            grid-column: 3;
            border-left: 5px solid $khaki;
            border-top: 5px solid $khaki;
          }

          .runs{
            grid-row: 3;
            grid-column: 1;
            border-right: 5px solid $khaki;
            border-top: 5px solid $khaki;
          }

          h1{
            font-size: 5rem;
            line-height: 3rem;
          }

          .title{
            color: $red;
            font-size: 2.5rem;
            line-height: 1rem;
          }
        }

        .die-play{
          grid-row: 3;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          border-bottom: 5px solid $khaki;
        }
      // }
}