@import './fonts/stylesheet.css';
@import './Colors.scss';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  border: 5px solid $khaki;
  background-color: $grey;
  height: auto;
  height: 100vh;
  font-family: 'bartenderserif_letterpress', sans-serif;
  color: $khaki;
  font-weight: normal;
}

@media screen and (min-device-width : 768px) { 

    .mobile{
      display: none;
    }

    .desktop{
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: 1fr;
    }

    .game-info{
      height: 99vh;
      display: grid;
      grid-template-rows: 20% 15% 25% 1fr;
      border-right: 5px solid $khaki;
    }

    .container-outs-runs{
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 5px solid $khaki;
    }

    .runs,
    .outs{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .runs{
      border-right: 5px solid $khaki;
    }

    .dice-roll{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }

    .score-field{
      display: grid;
      grid-template-rows: 15% 1fr;
    }

    .container-scoreboard{
      width: 100%;
      border-bottom: 5px solid $khaki;
    }

    .container-playingfield{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media only screen 
    and (device-width : 375px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .desktop{
      display: none;
    }

    .mobile{
      display: grid;
      height: 99vh;
      grid-template-rows: 20% 50% 20% 10%;
      grid-template-columns: 1fr;

      .scoreboard-container{
        display: flex;
        border-bottom: 5px solid $khaki;
      }
      
      .inning,
      .runs,
      .outs{
        height: 100%;
        width: 100%;
      }

      .runs,
      .outs{
        display: flex;
        justify-content: center;
      }

      .inning{
        grid-row: 1;
        grid-column: 3;
        border-left: 5px solid $khaki;
        border-bottom: 5px solid $khaki;
      }

      .runs{
        grid-row: 3;
        grid-column: 1;
        border-right: 5px solid $khaki;
        border-top: 5px solid $khaki;
      }

      .outs{
        grid-row: 3;
        grid-column: 3;
        border-left: 5px solid $khaki;
        border-top: 5px solid $khaki;
      }

      .field-info{
        display: grid;
        grid-template-rows: 25% 50% 25%;
        grid-template-columns: 25% 50% 25%;
        border-bottom: 5px solid $khaki;
        justify-items: center;
        align-items: center;
      }

      .dice-play{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 5px solid $khaki;
      }
    }
}